.vscode/*
/node_modules
/bower_components
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/docker/data/redis/dump.rdb
Homestead.json
Homestead.yaml
npm-debug.log
.env
_ide_helper.php
.DS_Store
.phpintel/
.phpstorm.meta.php
docker-compose.yml
.viminfo
.sudo_as_admin_successful
.composer/
.bash_history
.cache/
.config/
.npm/
.ssh/
docker/data/*
*.sql
*.sql.*gz
.php_cs.cache
